; This configuration file stores the username and passwords of various logins required by this program.
; An example of this is for worldtradingdata, who require member log-in to download their list of symbols.
; Sign up and enter your username and password below. To use this file, make a copy and name it 'credentials.conf',
; then uncomment the lines (remove the ';'), enter the relevant details and save.
; Author: Samuel Dowling 

;[worldtradingdata]
;user=smithj@example.com
;password=
