[asx]
name=ASX
website_url=https://www.asx.com.au
support_email=NA
api_url=https://www.asx.com.au/asx/1/share/EVN/prices?interval=daily&count=30
api_key=

[alphavantage]
name=Alpha Vantage
website_url=https://www.alphavantage.co/
support_email=support@alphavantage.co
api_url=https://www.alphavantage.co/query?function=
api_key=

[quandl]
name=Quandl
website_url=https://www.quandl.com
support_email=NA
api_url=https://www.quandl.com/api/v3/datasets/WIKI/AAPL.csv?start_date=2010-01-01&api_key=...
api_key=

[worldtradingdata]
name=World Trading Data
website_url=https://www.worldtradingdata.com/
support_email=NA
api_url=https://www.worldtradingdata.com/api/v1/stock?symbol=AAPL,MSFT,HSBA.L&api_token=demo
api_key=

[barchart]
name=Barchart
website_url=https://www.barchart.com/
support_email=NA
api_url=https://marketdata.websol.barchart.com/getQuote.json?apikey=YOUR_API_KEY&symbols=AAPL%2CGOOG&fields=fiftyTwoWkHigh%2CfiftyTwoWkHighDate%2CfiftyTwoWkLow%2CfiftyTwoWkLowDate
api_key=

[stooq]
name=Stooq
website_url=https://stooq.pl/
support_email=NA
api_url=https://stooq.com/q/d/l/?s=AAPL.US&i=d
api_key=

[iex]
name=IEX
website_url=https://iextrading.com/
support_email=NA
api_url=NA
api_key=NA